* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rosybrown;
}

.menu {
  background-color: royalblue;
  padding: 20px;
}

a {
  color: aliceblue;
  position: relative;
  top: 10px;
}

.image-profile {
  width: 300px;
  border-radius: 10px;
  left: 30px;
  position: relative;
}