* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./fundo-estrelado.jpg');
  background-size: contain;
  font-size: 15px;
  color: white;
  height: 100em;
  width: 100%;
}

.menu {
  background-color: royalblue;
  height: 2%;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
  width: 100%;
}

.menu nav {
  display: flex;
  width: 40%;
  text-decoration: none;
  color: aliceblue;
  justify-content: space-evenly;
}

.title {
  font-size: 2.7rem;
}

.menu a {
  text-transform: none;
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.content {
  display: flex;
  height: 80%;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.profile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 35%;
}

.profile h2 {
  padding: 10px;
  font-size: 2.3rem;
  display: flex;
  justify-content: end;
  margin-right: 50px;
}

.image-profile {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(46, 7, 46, 0.89);
  border-radius: 50%;
}

.text-profile {
  display: flex;
  font-size: 1.5rem;
  align-content: center;
  color: black;
  background-color: aliceblue;
  flex-wrap: wrap;
  width: 500px;
  box-shadow: 0 0 15px black;
  border-radius: 20px;
  padding: 30px;
}

.habilidades {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  height: 30%;
  width: 100%;
}

.habilidades .principal, .others {
  display: flex;
  font-size: 1.5rem;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 45%;
  background-color: rgba(255, 250, 240, 0.205);
  box-shadow: 0 0 30px black;
  border-radius: 10px;
}

.habilidades li {
  color: black;
}

.project-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  height: 30%;
}

.project-container h2 {
  display: flex;
  justify-content: center;
  font-size: 2.3rem; 
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.image-project {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
}

.image-project img {
  margin-bottom: 10px;
  width: 80%;
  height: 75px;
  border-radius: 10px;
}

.image-project section {
  font-size: -10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  margin-top: 100px;
  margin-left: 250px;
  height: 4%;
  justify-content: space-evenly;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 50%;
}

.footer #img1 {
  width: 40px;
  height: 45px;
  border-radius: 100px;
}

.footer #img2 {
  width: 40px;
  height: 45px;
  border-radius: 200px;
}

.footer #img3 {
  width: 40px;
  height: 45px;
  border-radius: 100px;
} 
