@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
.habilidades{
  color: rgba(58, 12, 163, 1);
  line-height: 3px;
}
.text-profile{
  color: rgb(36, 33, 33);
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
  text-decoration: none;
}
.image-profile{

}
.title {
  font-family: 'Birthstone',cursive, serif;
  font-size: 3em;
  font-weight: 570;
  line-height: 1;
}
.habilidades li {
  line-height: 1;
}
.hab-principal {

}
.hab-outras {
  
}
body {
  background-color: rgba(67, 98, 238, 0.40);
}

.top {

}
.menu {

}