@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');

.profile {
  width: 100%;
  height: 400px;
  background-color: deeppink;
  position: relative;
  margin-top: 10px;
}
.text-profile{
  color: rgb(36, 33, 33);
  font-family: fantasy, serif;
  font-size: 20px;
  text-decoration: none;
  background-color: rgba(57, 12, 163, 0.562);
  height: 100px;
  position: absolute;
  margin-inline-start: 950px;
  top: 10%;
  width: 300px;
  background-position: center;
}
.text-profile a {
  color: green;
  text-decoration: none;
 }

a:hover {
  color: whitesmoke;
  background-color: rgb(55, 61, 61);
  border-radius: 18px;
}
.image-profile {
border-radius: 20px;
border: 5px solid rgb(58, 12, 163);
position: absolute;
width: auto;
height: 90%;
margin-inline-start: 500px;
background-position: center;
}
.title {
  font-family: 'Birthstone',cursive, serif;
  font-size: 3em;
  font-weight: 570;
  line-height: 1;
  position: relative;
  z-index: 1;
  margin-left: 800px;
}
.habilidades {
  color: rgba(58, 12, 163, 1);
  line-height: 3px;
  position: relative;
}
.habilidades li {
  line-height: 1;
  color:rgb(36, 33, 33)
}
.hab-outras {
left: 100px;
background-color: rosybrown;
}
body {
  background-color: rgba(67, 98, 238, 0.40);
}

.top {
background-color: salmon;
}
.menu {
background-color: silver;
}