@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
.subtitles {
  color: rgba(58, 12, 163, 1);
  line-height: 3px;
}
.paragrafo {
  color: rgb(36, 33, 33);
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
  text-decoration: none;
}
.title {
  font-family: 'Birthstone',cursive, serif;
  font-size: 3em;
  font-weight: 570;
  line-height: 1;
}
.list {
  line-height: 1;
}
body {
  background-color: rgba(67, 98, 238, 0.40);
}